
.profile-tab {
  border-bottom-width: 4px;
  border-bottom-color: #4299e1;
  border-bottom-style: solid;
}



.divider {
  border-bottom-width: 1px;
  border-bottom-color: #d9d9d9;
  border-bottom-style: solid;
}





